# ==========================================
# SERVIDOR
# ==========================================

NODE_ENV="development"
PORT="3000"

# ==========================================
# FRONTEND
# ==========================================

FRONTEND_URL="http://localhost:5173"

# ==========================================
# BASE DE DATOS
# ==========================================

DATABASE_URL="mysql://root:TU_CONTRASEÑA@localhost:3306/educonnect_br"

DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD="TU_CONTRASEÑA"
DB_NAME="educonnect_br"

# ==========================================
# JWT
# ==========================================

JWT_SECRET="TU_CLAVE_SECRETA"
JWT_EXPIRES_IN="2h"